.subheader {
    top: 0;
    display: flex;
    background-color: #ffffff;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.search-result > span:nth-child(1) {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 100%;
    color: #484848;
}

.search-result > span:nth-child(2) {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #b0b0b0;
}
