.product {
    margin: auto;
    font-family: Roboto;
    margin-bottom: 20px;
    border-radius: 10%;
    min-width: 254px;
    max-width: 254px;
}

.product:hover {
    display: none;
}

.product-image {
    border: 0.1px solid lightgray;
    border-radius: 3%;
    padding: 10px 0px 0px 2px;
    height: 339px;
}

.product-image > span {
    height: 332px;
    width: 247px;
    background-color: #ffffff;
    display: inline-block;
}

.product > p {
    color: #484848;
    justify-content: flex-start;
    display: flex;
    margin-bottom: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    margin: 10px 10px;
}

.product > div > h4 {
    color: black !important;
}

.product > div > p {
    color: #484848 !important;
}

.product > div > h4,
p {
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    margin-top: 0;
    margin-bottom: 0;
}

.product-new-price {
    margin: 0;
    font-size: 16px !important;
    margin-top: 10px;
    margin-left: 10px;
}

.product-old-price {
    margin: 0;
    font-size: 16px !important;
    margin-left: 10px;
}

.product > button {
    border: none;
    outline: 0;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 15px;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    text-align: center;
    color: #ff6000;
    background: rgba(255, 96, 0, 0.11);
    border-radius: 8px;
    margin-left: 10px;
    margin-right: 10px;
}

.product > button:hover {
    background-color: rgba(255, 96, 0, 0.12);
    color: rgb(255, 96, 0);
}
