.cart-content {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.cart-content > div {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    margin-left: 5px;
}

.cart-content > div > span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 16px;
    margin-top: -8px;
    color: #484848;
}

.cart-content > div > button {
    background: #ffffff;
    border: 1px solid #f90000;
    border-radius: 4px;
    color: #f90000;
    cursor: pointer;
    max-width: 60px;
}
