.app {
    --market-color-1: #ff6000;
    --market-color-2: #484848;
    --market-color-3: #646464;
    --market-color-4: #b0b0b0;
    --market-background-color: #e5e5e5;
}

.app-body {
    display: flex;
    height: 120vh;
    max-width: 1550px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

.card {
    transition: 0.3s;
    padding: 10px 5px;
    margin-top: 10px;
}

.container {
    padding: 2px 16px;
    display: flex;
    flex-wrap: wrap;
    max-width: fit-content;
    margin-top: 15px;
    min-width: -webkit-fill-available;
}
